name: Build futurerestore v193

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-windows:
    name: Build for Windows (MSYS2)
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout futurerestore v193
        uses: actions/checkout@v4
        with:
          repository: tihmstar/futurerestore
          ref: 193

      - name: Setup MSYS2 Environment
        uses: msys2/setup-msys2@v3  # 已更新至 v3
        with:
          msystem: MINGW64
          update: true
          install: >
            git make autoconf automake libtool pkg-config
            mingw-w64-x86_64-gcc mingw-w64-x86_64-libzip
            mingw-w64-x86_64-openssl mingw-w64-x86_64-curl

      - name: Build & Install libgeneral
        run: |
          git clone https://github.com/tihmstar/libgeneral.git
          cd libgeneral
          git checkout 71
          ./autogen.sh --prefix=/mingw64 --disable-static
          make -j$(nproc)
          make install
          cd ..

      - name: Build & Install libipatcher
        run: |
          git clone https://github.com/tihmstar/libipatcher.git
          cd libipatcher
          git checkout 43
          ./autogen.sh --prefix=/mingw64 --disable-static
          make -j$(nproc)
          make install
          cd ..

      - name: Build futurerestore
        run: |
          ./autogen.sh --prefix=/mingw64 --disable-static
          make -j$(nproc)
          strip src/futurerestore.exe

      - name: Upload Windows Binary
        uses: actions/upload-artifact@v4
        with:
          name: futurerestore-v193-windows
          path: src/futurerestore.exe
          retention-days: 30

  build-macos:
    name: Build for macOS
    runs-on: macos-13
    steps:
      - name: Checkout futurerestore v193
        uses: actions/checkout@v4
        with:
          repository: tihmstar/futurerestore
          ref: 193

      - name: Install Homebrew Dependencies
        run: |
          brew install autoconf automake libtool pkg-config libzip openssl@1.1
          echo 'export PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig:$PKG_CONFIG_PATH"' >> ~/.zshrc
          source ~/.zshrc

      - name: Build & Install libgeneral
        run: |
          git clone https://github.com/tihmstar/libgeneral.git
          cd libgeneral
          git checkout 71
          ./autogen.sh --disable-static
          make -j$(sysctl -n hw.ncpu)
          sudo make install
          cd ..

      - name: Build & Install libipatcher
        run: |
          git clone https://github.com/tihmstar/libipatcher.git
          cd libipatcher
          git checkout 43
          ./autogen.sh --disable-static
          make -j$(sysctl -n hw.ncpu)
          sudo make install
          cd ..

      - name: Build futurerestore
        run: |
          ./autogen.sh --disable-static
          make -j$(sysctl -n hw.ncpu)
          strip src/futurerestore

      - name: Upload macOS Binary
        uses: actions/upload-artifact@v4
        with:
          name: futurerestore-v193-macos
          path: src/futurerestore
          retention-days: 30
